body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color:#100641;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-container{
  font-size: x-large;
  font-weight: bold;
  margin: 100px;
  margin-left: 250px;
}

.Email{
  margin-left: 100px;
}
.Institute{
  margin-left: 100px;
}
.Designation{
  margin-left: 50px;
}
.div1
{
  margin-left: 50px;
  margin-top: 30px;
  display:flex;
  justify-content: space-between;
}
.div2
{
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}
.descurr {
  padding-left: 10em;
  font-weight: bold;
  color: rgb(255, 0, 0);
  margin-left: 2em;
}
.title{
  color: rgb(255, 0, 0);
  padding-left: 14em;
}
.title1{
  color: rgb(255, 0, 0);
  padding-left: 1em;
  font-size: 100px;
  margin-top: 250px;
}
.title2 {
  color: rgb(255, 0, 0);
  padding-left: 14em;
}
.subject{
  display:flex;
  
}
.sem_branch{
  display: flex;
}
.inst_credits{
  display: flex;
}
.name{
  margin-left: 8em;
}
.branch{
  margin-left: 8em;
}
.credits{
  margin-left: 8em;
}
.curr{
  padding-left: 15em;
}
.SideMenuVertical :hover {
  color: red;
}